<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications" version="0.9.3" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.9.0" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net45" />
  <package id="NSubstituteAutoMocker" version="1.1.0.0" targetFramework="net45" />
  <package id="SimulatableApi.StreamStore" version="0.1.1.0" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="structuremap.automocking" version="2.6.2" targetFramework="net45" />
  <package id="structuremap.automocking.nsubstitute" version="2.0.1.8" targetFramework="net45" />
</packages>